/*General*/
html { 
    background-color: #d89456;
}

/*Header*/ 
.introduction img {
    height: 180px;
    width: 180px;
    display:block;
    margin-left:auto;
    margin-right: auto;
    border-radius: 50%;
}

.title {

    font-size: 50px;
    text-align:center; 
    color: #491200;
    font-family: 'DM Serif Display', serif;}

/*Content divider - main structure*/ 

body { 
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 2px rgba(0,0,0,0.06); 
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto; 
    max-width: 700px;
    padding: 2em 2em 4em;
    color: black;
    
   
} 

h1, h2, h3, h4, h5, h6 {
    color: #491200;
    font-weight: 600;
    line-height: 1.3;
}

/*Content*/

.projectList { 
    text-align: left;
    padding-top: 2.5px;
    max-width: 700px;
    padding-bottom: 50px;


}


a { 
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

P { 
    padding-left: 10px;
    font-size: 20px;
}


li { 
    padding-top: 20px; 
    padding-bottom: 20px;
    list-style:none;  
    font-size: 20px; 
    text-align: center;
    border-style:solid;
    border-color: #491200;
    border-radius: 5px;
    margin:10px;

    
}

li p { 
    font-size: 20px;
    text-align: left;
}


.projectList li:hover {
    background-color:#491200;
    
    
}

.projectList li:hover a{ 
    color:#d89456; 

}


/*Footer*/ 

.trees { 
    width: 700px; 
    display:block;
    margin-left:auto;
    margin-right: auto;

}

