/*General*/
html { 

    background-color: #222734;
    background-color: #d89456;
}

/*Header*/ 


.logo { 

    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
}

.logo img{ 

    height: 300px;
    width: 300px;
    border-radius: 50%;
    border-style:solid; 
}

.title {

    font-size: 50px;
    text-align:center; 
    color: #faefdf;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Smooch Sans', sans-serif;
    text-transform: uppercase;
}

/*Content divider - main structure*/ 

body { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: 0 0 2px rgba(0,0,0,0.06); 
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto; 
    max-width: 700px;
    padding: 2em 2em 4em;
    color: white;
    
   
} 

h1, h2, h3, h4, h5, h6 {
    color: #faefdf;
    font-weight: 600;
    line-height: 1.3;
}

/*Content*/

.projectList { 
    text-align: left;
    padding-top: 2.5px;
    max-width: 700px;

}


.projectDescription { 
    float: right;
    max-width: 400px;
    list-style: none;
    position:relative;
    

}
.projectDescription li { 
    list-style: none;
    

}


a { 
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color:#faefdf;
    

}


li { 
    padding-top: 20px; 
    padding-bottom: 20px;
    list-style:none;  
    font-size: 20px; 
    text-align: center;
    border-style:solid;
    border-color: #faefdf;
    border-radius: 5px;
    margin:10px;

    
}

li p { 
    font-size: 20px;
    text-align: left;
}


.projectList li:hover {
    background-color:#f2dfce;
    
    
}

.projectList li:hover a{ 
    color:#222734; 

}

