/*General*/
html { 

    background-color: #092134;
}

/*Header*/ 
.logo {

    font-size: 50px;
    text-align:center; 
    color: #faefdf;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
}

/*Content divider - main structure*/ 

body { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: 0 0 2px rgba(0,0,0,0.06); 
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto; 
    max-width: 800px;
    padding: 2em 2em 4em;
    color: white;
    
   
} 

h1, h2, h3, h4, h5, h6 {
    color: #faefdf;
    font-weight: 600;
    line-height: 1.3;
}

/*Content*/

.projectList { 
    text-align: left;
    padding-top: 2.5px;
    max-width: 210px;

}


.projectDescription { 
    float: right;
    max-width: 400px;
    list-style: none;
    position:relative;

}
.projectDescription li { 
    list-style: none;

}


a { 
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color:#faefdf;
}


li { 
    padding-top: 20px; 
    padding-bottom: 20px;
    list-style:decimal;  
    font-size: 20px; 
    
}

li p { 
    font-size: 20px;
    text-align: left;
}


.projectList li:hover {
    background-color:green ;
    
    
}

